body {
  font-family: 'Montserrat';
  font-size: 18px;
  background-color: #1a1a1a;
  color: #f0f0f0;
  line-height: 1.2;
}

#root {
  padding: 20px 15px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px;
  border: 1px solid #f0f0f0;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.title {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 0 15px;
  font-size: 32px;
  text-align: center;
  width: 100%;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
    transition: background-color 0.3s ease 0s;
  }
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: green;
  width: 100%;
  max-width: 300px;
  transition: background-color 0.3s ease 0s;
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.75;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: rgb(0, 117, 0);
    }
  }
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  &__condition {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.05);
  }
  &__solution {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  &__solution-result {
    margin-top: 10px;
  }
}

.ball {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightcoral;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  li {
  }
}

.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.product-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
